@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

:root {
  --black: #000;
  --rich-black: #050505;
  --powder-white: #FDFFFC;
  --snow-white: #FDF7FA;
  --gray: #E0E0E2;
  --light-gray: #CACFD6;
  --space-blue: #22223B;
  --ruby-red: #E40066;
  --green: #03CEA4;
  --shocking-pink: #E637BF;
  --steel-blue: #3F7CAC;
}

body {
  font-family: Roboto, sans-serif;
  background: var(--snow-white);
  color: var(--rich-black);
}

.wrapper {
  position: relative;
  width: 1300px;
  margin: 40px auto 0 auto;
  
}

header {
  height: 40px;
  background: #fff;
  padding: 25px;
  margin-bottom: 35px;
  font-size: 30px;
  color: var(--rich-black);
}

main {
  
}

.main_container {
  display: flex;
  justify-content: space-between;
}

.products_container {
  width: 1000px;
  display: flex;
  flex-wrap: wrap;
}

.btn {
  width: 170px;
  height: 40px;
  border-radius: 3px;
  background: transparent;
  color: var(--steel-blue);
  border: 3px solid #3F7CAC;
  box-sizing: content-box;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 19px;
}

.btn:hover {
  cursor: pointer;
  background: var(--steel-blue);
  color: var(--snow-white);
}

.btn-blue:active {
  color: #F42C04;
}

.btn_close {
  display: block;
  position: absolute;
  /* float: right; */
  top: -12px;
  right: -12px;
  text-align: center;
  cursor: pointer;
  background: #3F7CAC;
  color: #FDF7FA;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.btn_close::before {
  content: 'x';
  font-size: 20px;
  font-weight: 800;
}

.btn_close:hover {
  font-weight: 800;
  background: var(--ruby-red);
}

.btn_remove {
  display: block;
  position: absolute;
  /* top: -12px;
  right: -12px; */
  text-align: center;
  cursor: pointer;
  background:#050505;
  color: #FDF7FA;
  width: 25px;
  height: 25px;
  border: 2px solid #fff;
  border-radius: 50%;
}

.btn_remove::before {
  content: 'x';
  font-size: 20px;
  font-weight: 800;
}

.card {
  /* display: flex; */
  width: 400px;
  margin: 0 60px 40px 0;
  background: #fff;
  padding: 20px;
}

.product_info {
  display: flex;
  flex-direction: column;
  margin: 0 0 0 20px;
}

.product_title {
  font-size: 20px;
  font-weight: 400;
  line-height: 130%;
  margin-bottom: 10px;
}

.product_author {
  font-size: 16px;
  font-weight: 300;
}

.product_author::before {
  content: 'by ';
}

.product_price {
  margin: 15px 0;
  font-size: 26px;
  font-weight: 500;
}

.product_price::before {
  content: '$';
}

.product_description {
  display: none;
  position: relative;
  /* top: 200px; */
  /* flex-basis: 100%; */
  /* width: 400px; */
  background: #E0E0E2;
  padding: 10px;
  z-index: 1;
}

.product_image {
  float: left;
  width: 150px;
  cursor: pointer;
}

.product_wrapper {
  display: flex;
  flex-direction: row;
  height: 200px;
  margin: 0 0 20px 0;
}

.btn_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.dragging {
  border: 2px solid var(--shocking-pink);
}

.cart_container {
  width: 250px;
  height: 780px;
  font-size: 22px;
  padding: 20px;
  background: #fff;
}

.cart_items {
  margin: 25px 0;
}

.cart_item {
  position: relative;
  width: 250px;
  margin-bottom: 10px;
  margin: 25px 0;
  line-height: 105%;
}

.cart_title {
  font-size: 16px;
  font-weight: 500;
}

.cart_author {
  font-size: 16px;
}

.cart_price {
  font-size: 16px;
}

.cart_item_btn {
  display: block;
  position: absolute;
  text-align: center;
  cursor: pointer;
  color: #3F7CAC;
  width: 25px;
  height: 25px;
  right: 0;
  bottom: 0;
  border-radius: 50%;
}

.cart_item_btn::before {
  content: 'x';
  font-size: 30px;
  font-weight: 600;
}

.cart_item_btn:hover {
  color: var(--ruby-red);
}

.btn_confirm {
  width: 230px;
  margin: 25px 0;
}

.form_wrapper {
  width: 800px;
}

.form_container {
  background: #fff;
  padding: 25px;
}

form {
  position: relative;
  /* width: 500px; */
}

.form_box{
  padding: 1rem;
  clear: both;
  /* width: 100%; */
  position: relative;
}

.form_box label {
  float: left;
  width: 130px;
  margin-right: 20px;
  height: 30px;
}


.form-box input{
  /* width: 400px; */
  /* padding: 0.25rem 1rem; */
  /* margin: 20px 25px 0 0; */
}

input[type=text] {
  width: 350px;
  height: 30px;
}

input[type=date] {
  width: 355px;
  height: 30px;
}

input[type=radio] {
  /* width: 100px; */
}

form p {
  margin-top: 20px;
}

.form_box {
  /* margin-bottom: 10px; */
}

.btn_form {
  margin-top: 20px;
}

.btn_form_disabled {
  border-color: dimgray;
  color: dimgray;
  margin-top: 20px;
}

.btn_form_disabled:hover {
  color: #fff;
  background: dimgray;
}

.input_error {
  border: 1px solid red;
}

fieldset {
  width: 360px;
}

.error::after{
  background-color: hsl(10, 60%, 50%);
  color: papayawhip;
  font-size: 1rem;
  line-height: 1.8;
  width: 250px;
  padding: 7px 7px;
  margin-left: 30px;
  position:relative;
  content: attr(data-errormsg);
}

.form-box{
  padding: 1rem;
  clear: both;
  width: 100%;
  position: relative;
} 

.form-box label{
  font-size: 1rem;
  float: left;
  width: 100px;
  margin-right: 20px;
}

.confirmation_modal {
  font-size: 22px;
  position: absolute;
  top: 150px;
  left: 200px;
  width: 300px;
  padding: 35px 65px;
  background: #fff;
  border: 1px solid var(--gray);
  z-index: 2;
}
